/*Import necessary file here*/
@import "./theme.css";
@import"./utilities.css";

body {
    margin: 0;
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-position: left top;
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
body.no-scroll{
    overflow: hidden;
}
* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    background: var(--background-color);
    height: 60px;
}
.navScroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
@-webkit-keyframes fadeInDown{
    0% {
        opacity: 0;
        -webkit-transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-links .link{
    margin-left: 20px;
}
.header-container, .about-container{
    height: 100vh;
    position: relative;
}
.about-container, .project-container, #contact, #footer {
    margin-top: 180px;
    position: relative;
}
.project-inner{
    display: flex;
    margin: 3rem 0;
}


